*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
}

.header{
    background: linear-gradient(#817777, #9198e5);
    padding: 15px;
    text-align: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(89, 153, 105);
    text-align: center;
}
.column{
    float: left;
    padding: 15px;
    
}
.column.left{
    width: 20%;
   
}
.column.right{
    width: 30%;
}
.column.middle{
    width: 50%;
    
    
}
header{
    background-color: rgb(80, 145, 145);
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

input{
    margin-top: 5px;
      
}
input.macro{
    width: 90px;
}
#bottom{
    background-color:rgb(80, 145, 145);
    height: 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}
li{
    margin-top: 15px;
    margin-left: 10px;
    width: 70%;
}

    
.guziczki{
    float: right;
    background-image: url('/img/add.png');
    background-size: contain;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: none;
}
.remove{
    background-image: url('/img/delete.png');
    background-size: contain;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: none;
}


#add{
    background-image: url('/img/add.png');
    background-size: contain;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: none;
    padding: 7px;
    
}
table{
    width: 80%;
    margin: auto; 
   
}

td{
    width: 70px;
    text-align: center;
}
input.ileG{
    width: 80%;
    text-align: center;
}
